html {
    font: 100% sans-serif;
}

footer {
    margin-top: 2em;
}

.wrapper, form {
    width: 300px;
}

.dp_choice::selection, .dp_choice ol::selection, .dp_choice ol li::selection, .dp_choice span::selection {
    background-color: transparent;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

.dp_choice {
    margin: 5px 0 15px;
}

.dp_years, .dp_months {
    box-shadow: 0 0 1px rgba(0,0,0,.5);
}

.dp_choice li {
    float: left;
    text-align: center;
    font-size: 20px;
    background-color: #f7f7f7;
    padding: 15px 0;
    color: #555;
    display: block;
    cursor: pointer;
}

.dp_years li, .dp_months li {
    width: 33.333333%;
}

.dp_years li:nth-child(2n+2), .dp_months li:nth-child(2n+2) {
    background-color: #dedede;
}

.dp_yearNav {
    text-indent: -9999px;
    display: block;
    background: #666 url(icons/icons.png) no-repeat 0 0;
    height: 30px;
    padding: 10px 0;
    text-decoration: none;
    cursor: pointer;
}

.dp_pastYears {
    background-position: 50% 0;
}

.dp_futureYears {
    background-position: 50% -40px;
}

.dp_days {
    position: relative;
    zoom: 1;
    vertical-align: top;
    text-align: left;
}

.dp_days table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 18px;
}

.dp_days th, .dp_tag:hover {
    background-color: #666;
    color: #fff;
}

.dp_days th, .dp_days td {
    border: 1px solid #dedede;
    padding: 10px;
    font-weight: normal;
}

.dp_days td {
    cursor: pointer;
}

td.dp_current, li.dp_current {
    background: #333;
    color: #fff;
}

.dp_days th {
    pointer-events: none;
}

.dp_empty_day {
    background-color: #dedede;
    pointer-events: none;
}

.dp_years li:hover, .dp_months li:hover, .dp_days td:hover {
    background-color: #999;
    color: #fff;
}

.dp_tagBox {
    width: 96%;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.0,white),color-stop(1.0,#EAEAEA));
    background: -moz-linear-gradient(top,white,#EAEAEA);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.0,white),color-stop(1.0,#EAEAEA));
    border: 1px solid #CACACA;
    color: #444;
    float: left;
    font-size: 1.4em;
    padding: 2%;
    cursor: text;
    margin-bottom: 5px;
}

.dp_tagBox input {
    border: none;
    width: 10%;
    background-color: transparent;
    font-size: .8em;
}

.dp_tagBox input:focus {
    outline: none;
}

input[type="submit"] {
    float: right;
    font-size: 1em;
    margin: 0;
    cursor: pointer;
}

.dp_tag {
    margin-right: 2%;
    padding: 1% 2%;
    float: left;
    cursor: pointer;
    background: #333;
    color: #fff;
    font-size: 1.1em;
}

/* clearfix */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}
