@font-face {
    font-family: 'museo-slab';
    src: url('type/Museo_Slab_500-webfont.eot');
    src: url('type/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/Museo_Slab_500-webfont.woff') format('woff'),
         url('type/Museo_Slab_500-webfont.ttf') format('truetype'),
         url('type/Museo_Slab_500-webfont.svg#webfontyumMOUTD') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icons';
    src: url('icons/icons.svg#datepickericons') format('svg');
}

.wrapper {
    width: 300px;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

li a {
    display: block;
    color: #555;
    text-decoration: none;
    padding: 10px 0;
}

.years li {
    float: left;
    width: 33.333333%;
    text-align: center;
    font-family: museo-slab;
    font-size: 20px;
    background-color: #f7f7f7;
}

.years li:nth-child(2n+2) {
    background-color: #dedede;
}

.yearNav {
    text-indent: -9999px;
    display: block;
    position: relative;
    padding: 0px 0 8px;
    background-color: #DE4E43;
    text-decoration: none;
    color: #EDB951;
}

.yearNav:before {
    position: absolute;
    left: 50%;
    text-indent: 0;
    margin-left: -10px;
    font-family: icons;
    font-size: 20px;
    line-height: 1.4;
}

.pastYears:before {
    content: '+';
}

.futureYears:before {
    content: '-';
}

/*form {
    width: 300px;
}

input {
    width: 100%;
}

.dp_wrapper {
    clear: both;
    display: block;
    max-width: 100%;
}

.dp_wrapper .dp_years {
    display: block;
    clear: both;
    overflow: hidden;
}

.dp_wrapper.absolute.top {
    position: relative;
}

.dp_wrapper.absolute.top .dp_choice {
    position: absolute;
    right: 0;
    bottom: 0px;
}

.dp_wrapper .dp_year_future,
.dp_wrapper .dp_year_past {
    width: 100%;
    font-size: 11px;
    display: block;
    float: none;
    clear: both;
    text-align: center;
    padding: 3px 0;
    background: #ccc;
    cursor: pointer;
}

.dp_wrapper .dp_year_future:hover,
.dp_wrapper .dp_year_past:hover {
    background: #999; 
}

.dp_wrapper .dp_years .dp_year, 
.dp_wrapper .dp_month_wrapper .dp_month {
    float: left;
    padding: 3px 5px;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    width: 28.33333%;
}

.dp_wrapper .dp_day {
    cursor: pointer;
    text-decoration: underline;
}

.dp_wrapper .dp_day:hover {
    text-decoration: none;
}

.dp_wrapper .dp_day.dp_empty_day,
.dp_wrapper .dp_day.dp_day_header {
    text-decoration: none;
}

.dp_wrapper .dp_day.dp_day_header {
    background: #999;
}

.dp_wrapper .dp_day.dp_day_0,
.dp_wrapper .dp_day.dp_day_6 {
    background: #ccc;
}

ul {
    margin: 0 0;
    padding: 0 0;
}

li {
    margin: 0 0;
    padding: 0 0;
    list-style-type: none;
    float: left;
    width: 10%;
    text-align: center;
}

.dp_wrapper .dp_choice {
    margin: 0 5% 5px;
    width: 90%;
    background: #fff;
}

.dp_wrapper .dp_years .dp_year:hover,
.dp_wrapper .dp_month_wrapper .dp_month:hover {
    text-decoration: none;
}

.dp_wrapper .dp_full_list .dp_year_wrapper {
    display: none;
}

.dp_wrapper .dp_full_list .dp_viewFullList {
    display: block;
    clear: both;
    text-align: center;
    padding: 3px 0;
    text-decoration: underline;
    cursor: pointer;
}

.dp_wrapper .dp_full_list .dp_viewFullList:hover {
    text-decoration: none;
}

.dp_tagBox {
    border: 1px solid #999;
    float: left;
    display: block;
    padding: 1% 2%;
    width: 95%;
}

.dp_tagBox input {
    border: none;
    width: 30%;
    float: left;
}
.dp_tagBox input:focus {
    outline: none;
}

.dp_tagBox span {
    margin-right: 5px;
    padding: 3px 5px;
    background: #be1;
    border-radius: 5px;
    float: left;
    cursor: pointer;
}

.dp_tagBox span:hover {
    background: #7a990c;
}

.size1of7 {
    width: 14.2857%;
}*/